{{page-title "Client"}}

<div class="linked">
    <p id="linked2">
        Click on the link below to display the content.
    </p>
    <p id="linked2">
        <LinkTo @route="candidates" id="link">Candidates</LinkTo>
    </p>
</div>

{{outlet}}
